.MainPage {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  background-image: url("../../images/bkg-section-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 1600px) {
    margin: 0 250px;
  }

  @media (max-width: 1400px) {
    margin: 0 150px;
  }

  @media (max-width: 1200px) {
    margin: 0 100px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 992px) {
    margin: 0 60px;
  }

  @media (max-width: 768px) {
    margin: 0 40px;
  }

  @media (max-width: 576px) {
    margin: 0 20px;
  }
}

.main-page__content {

}

.main-page__content-image {
  width: 450px;

  @media (max-width: 768px) {
    width: 300px;
  }
}

.main-page__content-text {
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 41px 50px 15px;
  font-weight: bold;
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 22px;
    padding: 25px 30px 15px;
  }
}

.main-page__content-button {
  margin: 25px 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 40px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(45deg, #22ba7a, #1ea066);
  color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(34, 186, 122, 0.4);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #1ea066, #22ba7a);
    border-radius: 50px;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    transform: translateY(-3px) scale(1.12);
    box-shadow: 0 10px 30px rgba(34, 186, 122, 0.6);

    &::before {
      opacity: 1;
    }
  }

  &:active {
    transform: translateY(-1px);
  }

  @media (max-width: 768px) {
    padding: 25px;
  }
}