.header {
  display: flex;
  align-items: center;
  background-color: #595954;
  height: 130px;
  padding: 25px 35px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  justify-content: end;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 0 0 0 80px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLink {
  color: #595954;
  background-color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 15px;
  border-radius: 50px;
  transition: all 0.3s ease;
  display: block;
  font-weight: bold;
  text-align: center;
}

.navLink:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active {
  background-color: white;
  font-weight: bold;
}